/* impostazioni di reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* float left e clearfix */
.float-left {
    float: left;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* container*/
.container-width-100 {
    width: 100%;  
}
.container-width-75 {
    width: 75%;
    margin: auto;
}
.container-width-75.section-close{
    margin-bottom: 70px;
}
.container-width-70 {
    width: 70%;
}
.container-width-60{
    width: 60%;
}
.container-width-50 {
    width: 55%;
    margin: auto;
    padding-bottom: 50px;
}
.container-width-45 {
    width: 45%;
    margin: auto;
}
.container-width-30 {
    width: 30%;
    text-align: center;
}
.container-width-40{
    width: 40%;
}

.white{
    background-color: white;
}
/* bar top fixed */
.bar-top-fixed.container-width-100 {
    width: 100%;
    background-color: #f4f9fd;  
}
.bar-top-fixed {
    position: fixed;
    top: 0;
    line-height: 80px;
    border-bottom: 1px solid black;
}
.bar-top-fixed-left {
    height: 80px;
    width: 75%;
}
.bar-top-fixed-right {
    text-align: right;
    height: 80px;
    width: 25%;
}
.fas.fa-chevron-down.chevron-border {
    padding-right: 15px;
    border-right: 1px solid #32495b;
}

.fas.fa-search {
   color: #01a6be
}

.bar-top-fixed-left > ul > li {
    padding-right: 15px;
}

.bar-top-fixed-right > ul > li {
    padding-right: 20px;
}
/* /bar top fixed */

/* button - border radius - font */
.button {
    line-height: normal;
    padding: 9px 8px;
    border-radius: 5px;
    border: 1px solid #fe775a;
    color: #fe775a;
}
.button.btn-background {
    line-height: normal;
    padding: 10px 8px;
    border-radius: 5px;
    background-color:#fe775a ;
    color: white;
} 
.button-large.btn-background {
    line-height: normal;
    padding: 20px 30px;
    border-radius: 5px;
    background-color:#fe775a ;
    color: white;
}

.border-radius{
    border-radius: 52px;
}

.font-mini{
    font-size: 14px;
    font-weight: 400;
    color: #33475b; 
}
/* /button */

/* hover */
a:not(.button,.button-large):hover{
    text-decoration: underline;
    color: #007a9a;
}

a.button:hover{
    background-color: #ffbcac;
}
a.button-large:hover{
    background-color: #ffbcac;
}

#button-footer.button-large.btn-background:hover{
    background-color: white;
}


/* generic selectors */
header{
    margin-top: 81px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
footer{
    padding-bottom: 50px;
    background-color: #32495b;
}

ul,
li,
a {
    
    text-decoration: none;
    display: inline-block;
    list-style: none;
    
    font-size: 17px;
    color:#32495b;
}
.bar-top-fixed,
.header-top{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
li{
    /* font-family: 'Roboto', sans-serif; */
    /* font-weight: 400; */
}

h1,
h2,
h3,
h4{
    /* font-family: 'Roboto', sans-serif; */
}

p{
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 500;
    font-size: 18px;
    color:#32495b;
}

.caps{
    text-transform: uppercase;
}
/* header */

/* header top-left, top-right */
.header-top-left {
    line-height: 100px;
    width: 50%;
    height: 80px;
}

.header-top-right {
    line-height: 80px;
    text-align: right;
    width: 50%;
    height: 50px;
}

.header-top-right > ul li {
    padding-right: 20px;
}

.li-separator {
    padding-left: 10px;
}


/* header jumbotron */
.container-width-100.background-jumbotron {
    background-image: url("../img/jumbotron.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-color: #fff5ee;
}
.line-jumbotron-bottom {
    border-top: 3px solid #2d3e51;
    border-bottom: 3px solid #2d3e51;
    height: 90px;
    background-color: #afebe4;
}

.header-jumbotron {
    height: 612px;
}

.title-text-jumbotron {
    padding-top: 70px;
    height: 612px;
    width: 47%;
}

.title-text-jumbotron > h1 {
    color: #33475b;
    font-size: 55px;
}

.title-text-jumbotron > p {
    padding-top: 40px;
    line-height: 2;
    
}

.title-text-jumbotron > a {
    margin: 30px 0;
}


.title-text-jumbotron > .font-mini {
    padding: 0;
    font-weight: 500;
    font-size: 14px;
}
.text-bottom-left-jumbotron > .font-mini{
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
}

/* /header */

/* main */

.container-width-100{
    background-color: #f4f9fd;
}

.container-center {
    text-align: center;
}

/* section 1 */
main div > #cube {
    margin-top: 100px;
    height: 200px;
}

/* section 1 cube */
#title-cube {
    font-size: 45px;
    padding: 30px 0;
    color: #33475b;
}

.title-section-1 {
    font-size: 25px;
    padding: 30px 0;
    margin-top: 55px;
    color: #33475b;
}

#p-cube-1 {
    font-weight: 400;
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 45px;
}

#box-book{
    padding-left: 120px;  
}

main div > #book {
    margin-top: 80px;
    height: 120px;
    margin-bottom: 25px;
}


main .container-width-50 > h3 {
    display: inline-block;
    padding-right: 55px;
    font-size: 40px;
    margin-top: 15px;
    padding-top: 5px;
    font-size: 20px;
    color: #33475b; 
}

main .container-width-50 > p {
    line-height: 35px;
    font-weight: 400;  
}

.line-right-h3{
    margin-bottom: 5px;
    display: inline-block;
    width: 63%;
    border-color: #899397;
}

section ul > li > i{
    padding: 40px 20px 0 20px; 
}

.container-column{
    padding-bottom: 70px;
    margin-top: 50px;
}

.column {
    text-align: center;
    width: calc(33% - 30px);
    background-color: white;
    box-shadow: 1px 1px 10px;
    padding-bottom: 18px; 
}

#column2{
    margin-left: 50px;
    margin-right: 50px;
}

.column > img{
    margin-top: 35px;
    height: 120px;
}

.column > h2 {
    margin-top: 20px;
    padding: 0;
}

.text-column {
    line-height: 35px;
    font-weight: 500;
    margin-bottom: 90px;
}
.column-text-top{
    width: 75%;
    margin: auto;
}

.line-column{
    margin-top: 1000px;
    border-color:  #33475b;
    width: 75%;
    margin: auto; 
}

.column-text-bot > ul{
    text-align: left;
    width: 75%;
    margin-bottom: 50px;
}

.column-text-bot > ul i{
    padding: 0 15px 0 0;
    margin: 0;
 }

.column-text-bot > ul li{
    display: block;
    
}

.fas.fa-check-circle{
    color:#fe775a;
}

.no-padding{
    padding-left:0;
}

/* section 3 */
.container-width-100.gradient-background{
    padding-top: 50px;
    padding-bottom: 120px;
}
.gradient-background {
    background-image: linear-gradient(to right, #00a8b9, #00baa7); 
}

.title-gradient{
    font-size: 42px;
    margin-bottom: 40px;
    color:white;
}
.text-gradient {
    margin-bottom: 90px;
    line-height: 35px;
    font-size: 19px;
    color:white;
}

.box-gradient-top {
    width: 25%;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
.box-gradient-bottom {
    height: 250px;
    width: 25%;
    border-right: 1px solid white;
}
.box-gradient-top.no-border,
.box-gradient-bottom.no-border {
    border-right: none;
}

.container-width-75.text-align-center {
    text-align:center;
}

.row-top  img,
.row-bot  img {
    margin-top: 35px;
    height: 45px;
}

.title-img {
    margin-top: 10px;
    font-size: 45px;
    color:white;
}

.text-img {
    /* font-family: 'Roboto', sans-serif; */
    padding-bottom: 50px;
    margin-top: 20px ;
    color:white;
}

.container-width-100.white{
    margin-top: 50px;
    background-color: white;
}

/* section-4 */
.section-4 {
    margin-top: 50px;
}

#box-top-left-section-4 {
    height: 140px;
}

.title-number-section-4 {
    font-size: 50px;
    color:#33475b ;
}

.paragraph-section-4 {
    margin-top: 50px;
    text-align: left;
    line-height:30px;
    padding-left: 120px;
    padding-right: 80px;
}

.title-section-4 {
    font-size: 38px;
    color:#33475b ;
    margin-top: 100px;
}

.row-logos-top,
.row-logos-bot {
    text-align: right;
    width: 100%;
    padding-right: 15px;
}
.row-logos-top {
    line-height: 90px;
    padding-right: 100px;
}
.row-logos-top > img{
    vertical-align: middle;
    margin-top: 30px;
    margin-left: 15px;
    width: 140px;
}
.row-logos-bot {
    line-height: 70px;
    padding-right: 80px;
}
.row-logos-bot > img {
    vertical-align: middle;
    margin-left: 15px;
    width: 140px;
}

.text-bottom-left > .paragraph-section-4 {
    font-weight: 500;
    margin-bottom: 30px;
    padding: 0;
}

#button-section-4 {
    margin-top: 30px;
    margin-bottom: 50px;
}

.img-woman {
    text-align: right;
}
.img-woman > img {
    margin-top: 50px;
    height: 400px;
    
}
/* /main */

/* footer */
.container-width-75.footer {
    padding-top: 50px;
}

.column-footer {
    width: calc(22% - 20px);
    margin-right: 40px;
}

.footer h4 {
    font-size: 18px;
    color: white;
    margin-bottom: 25px;
}

.footer li:not(.social,.languages,.footer-legal-privacy) {
    padding: 10px 0;
    display: block;
}

.footer .button-large.btn-background {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 10px;
    font-size: 15px;
    color: #32495b;
    background-color: #dadee0;
}

.social {
    margin-right: 25px;
}

.footer-languages {
    text-align: center;
}

.footer-languages ul {
    margin-top: 50px;
}
.footer-languages a {
    font-weight: 400;
    color:#c6d1dd;
}

.languages {
    padding-right: 25px;
    display: inline-block;  
}

.footer li {
    color:#c6d1dd;
}
.column-footer a {
    color:#c6d1dd;
}

.line-separator-footer {
    margin-top: 10px;
    border: 1px solid white;
    width: 100%;
}
.logo-bottom-left {
    margin-top: 50px;
    width: 50%;
}
.text-bottom-right {
    text-align: right;
    margin-top: 50px;
    width: 50%;
}
.text-bottom-right ul > li > a {
    color:#c6d1dd;
}
.copyright {
    color: white;
}
.footer-legal-privacy {
    margin-right: 15px;
    color:#c6d1dd ;
}

/* /footer */
.box-shadow{
    box-shadow: 1px 1px 10px;
}